* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-div {
  height: 100vh;
  width: 100vw;
  background-image: url("../assets/Hero-img.jpg");
  background-size: cover;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
