* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contentBar-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bar-container {
  height: 60px;
  width: 100%;
  /* width: 96%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-radius: 50px; */
  padding: 0 30px 0 20px;
  background-color: #2a2b0126;
  border: 1px solid #eead2bbf;
}

.bar-left {
  height: 43px;
  width: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border-radius: 50%;
  border: 1px solid #eead2b;
  /* margin-left: 30px; */
}

.bar-left i,
.bar-right i {
  color: #eead2b;
}

.bar-middle {
  height: 80%;
  width: 40%;
  display: flex;
  justify-self: flex-start;
  align-items: center;
  gap: 10px;
  margin-right: auto;
  margin-left: 40px;
  border: 1px solid #eead2b94;
  padding: 0 17px 0 0;
  border-radius: 100px;
  color:#eead2b
}

.bar-middle input {
  height: 40px;
  width: 100%;
  border: none;
  border-right: 2px solid rgba(128, 128, 128, 0.488);
  background: transparent;
  padding-left: 20px;
  border-radius: 100px 0 0 100px;
  font-size: 20px;
  /* color:#eead2b */
}

.bar-right {
  height: 80%;
  width: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 13px;
  background-color: transparent;
  /* padding: 0 10px; */
  border: 1px solid #eead2b94;
  /* gap: 20px; */
}

.grid-div,
.list-div {
  height: 100%;width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid-div {
  border-left: 1px solid #eead2b94;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-content: center;
}
