* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.login-main-content {
  height: 100%;
  width: 100%;
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  height: 79%;
  width: 35%;
  background-color: #2a2b0126;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  border: 5px solid #cbd31726;
  border-radius: 40px;

  opacity: 0;
  transform: translateY(50px);
  animation: slideInUp 0.5s ease-out   forwards ;
}

.login-heading {
  text-align: center;
  margin-top: 40px;
  font-size: 45px;
  font-weight: 900;
  color: #eead2b;
}

.login-msg {
  text-align: center;
  font-size: 20px;
  margin-top: 30px;
  z-index: 10;
}

.login-form {
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 30px;
  gap: 10px;
}

.login-form-row {
  display: flex;
  /* Pushes content to the edges: label at flex-start, input at flex-end */
  justify-content: space-between;
  /* Ensure the row spans the full width of the form */
  width: 90%;
  padding: 0 20px; /* Add some horizontal padding */
}

.login-form input {
  height: 35px;
  width: 230px;
  border: 1px solid black;
  font-size: 20px;
  border-radius: 10px;
  padding-left: 10px;
  margin-left: 20px;
  color: black;
  border: none;
  transition: transform 0.2s ease, border-color 0.2s ease;
}
.login-form input{
  transform: scale(1.02);
  border-color: #eead2b;
  outline: none;
}

.login-btns {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 40px;
  width: 100%;
}
.login-btns button {
  height: 50px;
  width: 140px;
  background-color: #eead2b;
  color: #40260b;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
}
.login-btns > button:first-child {
  background-color: transparent;
  color: #eead2b;
  border: 2px solid #eead2b;
}

.login-register-msg {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
}

@keyframes slideInUp{
  to{
    opacity: 1;
    transform: translateY(0);
  }
}