* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.profile-logout-btn {
  height: 45px;
  width: 130px;
  border: none;
  background-color: #eead2b;
  border-radius: 10px;
  color: #40260b;
  font-weight: 600;
  font-size: 17px;
  margin-right: 60px;
  cursor: pointer;
}
